apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: simple-app
    environment: production
  name: simple-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      labels:
        app: simple-app
    spec:
      containers:
      - image: nginx:1.21
        imagePullPolicy: IfNotPresent
        name: simple-app
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        resources:
          limits:
            cpu: 100m
            memory: 128Mi
          requests:
            cpu: 100m
            memory: 128Mi