apiVersion: v1
kind: Service
metadata:
  labels:
    app: simple-app
  name: simple-app
spec:
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: http
  selector:
    app: simple-app
  type: ClusterIP